.btn-warning, .btn-outline-warning, .btn-outline-light{
    height: 20vh;
    width: 35vh;
    margin: 10px;
    border: 5px solid !important;
    border-radius: 20px;
}

body {
    background-image: url(quackbg.gif);
    background-color: black;
    height: 100vh;
    background-size: cover; /* or background-size: contain; */
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}

.button-list {
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* Adjust as needed */
    align-items: center; /* Align items vertically in the center */
}

.button-rows {
    margin-top: 60vh;
    position: fixed;
    bottom: 2.5%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around; /* Adjust as needed */
    align-items: center; /* Align items vertically in the center */
}