@font-face {
    font-family: 'Lexend';
    src: url('/static/fonts/Lexend-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lexend-Light';
    src: url('/static/fonts/Lexend-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.btn-warning, .btn-outline-warning, .btn-outline-light{
    height: 20vh;
    width: 35vh;
    margin: 10px;
    font-size: 30px;
    font-family: 'Lexend';
    border: 1px solid;
    border-radius: 10px;
}

body {
    background-image: url(quackbg.gif);
    background-color: black;
    height: 100vh;
    background-size: cover; /* or background-size: contain; */
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}

.button-list {
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* Adjust as needed */
    align-items: center; /* Align items vertically in the center */
}

.button-rows {
    margin-top: 60vh;
    position: fixed;
    bottom: 5%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around; /* Adjust as needed */
    align-items: center; /* Align items vertically in the center */
}

li {
    color: white;
    font-family: "Lexend-Light";
    font-size: 7vh;
    list-style-type: none;
}

ul {
    position: fixed;
    bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; /* Adjust as needed */
    align-items: center;
}

h1 {
    color: white;
    font-family: "Lexend";
    font-size: 7vh;
    text-align: center;
    margin-top: 23.5vh;
}

.input-group  {
    width: 70%;
}