<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Quackii</title>
    </head>
    <body>
        <div class="background">
            <h1>Quackii</h1>
            <form method="POST">
                <button class="btn btn-warning" type="submit">Back</button>
            </form>
            <p>
                <ul>
                    <li>Jordan McKenzie - SFU 2nd Year</li>
                    <li>Nicholas Chan - SFU 2nd Year</li>
                    <li>Riley Su - UBC 2nd Year</li>
                </ul>
            </p>
        </div>
    </body>

</html>