{% extends 'layout.html' %}

{% block content %}
            <form method="POST">
                <button class="btn btn-outline-warning" style="height: 10vh; font-size: 25px;" type="submit">Back</button>
            </form>
            <p>
                <div class="button-list">
                    <h1>was created by:</h1>
                    <ul>
                        <li>Jordan McKenzie - SFU 2nd Year</li>
                        <li>Nicholas Chan - SFU 2nd Year</li>
                        <li>Riley Su - UBC 2nd Year</li>
                    </ul>
                </div>
            </p>
{% endblock %}