{% extends 'layout.html' %}

{% block content %}
        <div class="button-rows">
            <div class="button-list">
                <a href="/reminders"><button class="btn btn-outline-light"type="submit">Log Reminder</button></a>
                <form method="POST"><button class="btn btn-warning" type="submit">{{ currentstate }}</button></form>
                <a href="/settings"><button class="btn btn-outline-light"type="submit">Settings</button></a>
            </div>
            <div class="button-list">
                <a href="/credits"><button class="btn btn-outline-light" style="height: 10vh; font-size: 25px;" type="submit">About</button></a>
            </div>
        </div>
{% endblock %}