{% extends 'layout.html' %}

{% block content %}
            <form method="POST">
                <button class="btn btn-outline-warning" style="height: 10vh; font-size: 25px;" type="submit">Back</button>
            </form>
            <div class="button-rows">
                <div class="button-list">
                    <a href="/history"><button class="btn btn-outline-light"type="submit">History</button></a>
                    <a href="/API"><button class="btn btn-outline-light"type="submit">Auth</button></a>
                    <a href="/messages"><button class="btn btn-outline-light"type="submit">Messages</button></a>
                </div>
            </div>
{% endblock %}